/* ul {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 30%;
}

h5 {
  margin: auto;
  color: blue;
}
li {
  float: left;
} */

.label_demo {
  color: black;
  margin-top: auto;
  margin-left: 2%;
}
.check_demo {
  margin-left: 5%;
  width: 6%;
}
